*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
  font-size: 48px;
    font-family: 'Pattaya';
    color: rgb(13, 8, 61);
    
    background-color: rgb(154, 214, 253);
}
h1{
  letter-spacing: 0.2em;
    font-size: 82px;
    color: rgb(250, 178, 21);
}
.txt1{
    padding-top: 5%;
}

.section1{
    background-image: url(img/depositphotos_335220280-stock-photo-blue-silky-fabric-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.photosann{
    display: flex;
    padding-top: 4%;
    margin-left: 2%;
}


.photosann img {
     width: 25%;
  transition: filter 0.5s linear;
  filter: brightness() grayscale(1) opacity(0.9);
  
  
}
.photosann img:hover {
  filter: none;
}

.txt2{
    padding: 5%;
}
.phann{
    display: inline-block;
    width: 60%;
    height: 20%;
}
    

.ph1{
    width: 28%;
height: 10%;
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ph1:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    }
.ph2{
    width: 38%;
height: 10%;
vertical-align:middle;
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ph2:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    }
.ph3{
    width: 200px;
    height: 315px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ph3:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    }

footer{
    display: inline-block;
    margin-top: 2%;
}
footer img{
    width: 3%;
    height: 3%;
}
footer p{
    font-size: 24px;
}
.section3{
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
}
.ph11{
    width: 30%;
    padding-top: 5%;
    height: 30% ;
}
.ph12{
    padding-top: 5%;
    width: 30%;
    height: 30%    ;
}
.txt3{
    font-size: 28px;
    width: 40%;
}

.section3 img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.section3 img:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    .php{
        display: inline-block;
        margin-top: 2%;
    }
    .php img{
        width: 380px;
        height: 420px;
        transition:1s ;
    }
    .php img:hover{
        transform: scale(1.1); /* Увеличиваем масштаб */
    }
    .section4{
        margin: 3%;
    } 

